<style>
	.about {
		font-family: "Courier";
		line-height: 2;
		text-indent: 50px;
		color: #ffd6ad;
	}
</style>


<h1 class="page_header">Home</h1>

<p class="about">
	Welcome to the home page of Vim Commands. Here you can learn basic vim commands that will give you a kick start in your vim learning. 
</p>

