
<h1 class="page_header">Home</h1>

<div class="about_div">
	<p class="about">
		<!--&emsp;--> 
		<center>
			Welcome to the home page of Kendra's Tech Blogs and Intro to Basic Vim Commands. Here you can learn basic vim commands that will give you a kick start in your vim learning. You will also be able to read tech blogs written by my learnings on my coding journey.
			<br><br>
			By: Kendra Kuivenhoven
		</center>
	</p>
</div>


