
<h1 class="page_header">Home</h1>

<div class="about_div">
	<p class="about">
		Welcome to the home page of Vim Commands. Here you can learn basic vim commands that will give you a kick start in your vim learning. 
	</p>
</div>


