<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<br><br>
<img src="<%= @chart %>"></img>
<br><br>

<% @item_types.each do |it| %>
	<%= it %>, 
<% end %>

<br><br><br>

<%= @country_count %>

<br><br><br>

<% @countries.each do |c| %>
	<%= c %>,
<% end %>



