<h1>StaticPages#maps</h1>
<p>Find me in app/views/static_pages/maps.html.erb</p>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {
        var countries = '<%= @countries %>';
        var c_split = countries.split(', &');
        for(var i=0; i < c_split.length; i++){
					if(i == 0){
						c_split[0][0] = c_split[0][0].replace("{&","");
					}
          c_split[i] = c_split[i].split('=&gt;');
          c_split[i][0] = c_split[i][0].replace("quot;","");
          c_split[i][0] = c_split[i][0].replace("&quot;","");
        }

				for(var i = 0; i < c_split.length; i++){
					var tmp = c_split[i][1];				
					tmp = tmp.replace('[', "");
					tmp = tmp.replace(']', "");
					tmp = tmp.split(', ');
					c_split[i][1] = parseInt(tmp[0]);
					c_split[i][2] = parseInt(tmp[1]);
					var nested = [];
					nested[0] = c_split[i];
					console.log("c_split["+i+"]: " + c_split[i]);
				}


				var subFinal = [];
				var columnNames = ['ID', 'SalesPerCountry', 'TotalProfit'];
				subFinal[0] = columnNames;

				var juntos = subFinal.concat(c_split);

      var data = google.visualization.arrayToDataTable(juntos);
		

      var options = {
        title: 'Correlation between Total Profit and Count Per Country',
        hAxis: {title: 'Count Per Country'},
        vAxis: {title: 'Total Profit'},
        bubble: {textStyle: {fontSize: 11}}
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
    </script>
  </head>
  <body>
    <div id="series_chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
