<h1>Sales Channel</h1>


<div id="piechart" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

			console.log('<%= @regions %>');
			var regions = '<%= @regions %>';
			var reg = regions.split(', &');

			console.log(reg);
			for(var i=0; i<reg.length; i++){
				if(i == 6){
				  reg[6][1] = reg[6][1].replace('}',"");
				}
				if(i == 0){
				 reg[0][0] = reg[0][0].replace('{&',"");
				}
				reg[i] = reg[i].split('&quot;=&gt;');
				reg[i][0] = reg[i][0].replace('quot;',"");
				reg[i][1] = parseInt(reg[i][1]);
			}
			// reg[0][0] = reg[0][0].replace('{&',"");
			// reg[6][1] = reg[6][1].replace('}',"");
			console.log(reg);

			var subFinal = [];
			var headers = ['Region', 'Count'];
			subFinal[0] = headers;
			
			// var finale = headers.concat(reg);
			var finale = subFinal.concat(reg);
	
			console.log(finale);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(finale);
					/*[
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);*/

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

<% @sales_channels.each do |sc| %>
	<%= sc %>
<% end %>
<br><br>

<% @regions.each do |r| %>
	<%=r %><br>
<% end %>

