<h1>Total Profits Table</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Country</th>
			<th scope="col">Sales Count</th>
			<th scope="col">Total Profit</th>
		</tr>
	</thead>
	<tbody>
		<% @countries.each do |key, value| %>
				<tr>
					<th><%= key %></th>
					<th><%= value[0] %></th>
					<th><%= value[1] %></th>
				</tr>
		<% end %>
	</tbody>
</table>
