<h1 class="page_header">Blog Posts</h1>

<% @blogs.each do |blog| %>

	<span style="font-size: 32px;">
		<span class="blog_title"><%= blog.title %></span>
		&nbsp;&nbsp;
		<%= link_to "Edit Blog", edit_blog_path(blog.id), :class => "btn btn-light edit_btn" %> 
		<br>
	</span>

	<div class="blog_post">
		<%= blog.post %><br>
	</div>

<% end %>

