<h1 class="page_header">Blog Posts</h1>

<% @blogs.each do |blog| %>

	<span style="font-size: 32px;">
		<%= blog.title %>&nbsp;&nbsp;<%= link_to "Edit Blog", edit_blog_path(blog.id), :class => "btn btn-light edit_btn" %> <br>
	</span>

	<p class="blog_post">
		<%= blog.post %><br>
	</p>

<% end %>

