/* 
 * Place all the styles related to the Blogs controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
 * Sources:
 * 		glow effect: https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/
*/


.new_blog_post_submit {
	width: 475px;
	color: rgba(168,178,178,1);
	background-color: #323232;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid;
}

.new_blog_post_submit:hover {
	transition: 1s;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid;
	border-color: #adfdff;
	background-color: #323232;
	color: rgba(168,178,178,1);
}

.new_blog_post_header {
	font-size: 75px;
	color: rgba(173,253,255,0.9);
	text-shadow: 4px 16px 12px rgba(0,0,0,0.2),
		0px -10px 70px rgba(255,255,255,0.3);
	padding-top: 100px;
	text-align: center;
	padding-bottom: 50px;
}

.new_blog_post_form {
	label {
		font-size: 37px;
		color: rgba(173,253,255,0.9);
		text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
			0px -5px 35px rgba(255,255,255,0.3);
	}
	#blog_title {
		width: 475px;
	}
	#blog_post {
		height: 52px;
		width: 475px;
		border-radius: 5px;
		border: 2px solid #adfdff;
		max-height: 400px;
		overflow: auto;
	}
}


.outer_new_blog_post_container {
	/* padding-top: 200px; */
	text-align: center;
}

.new_blog_post {
}

input[type=text]{
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #adfdff !important;
	border-radius: 4px;
}

.edit_btn {
	color: rgba(168,178,178,1);
	background-color: #323232;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid;
}

.edit_btn:hover {
	transition: 1s;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid;
	border-color: #adfdff;
	background-color: #323232;
	color: rgba(168,178,178,1);
	/* background-color: rgba(17,17,17,0.1); */
}


.new_btn {
	width: 100%;
}


.page_header {
	text-transform: capitalize;
	font-family: "Brush Script MT";
	padding-top: 50px;
	text-align: center;
	padding-bottom: 50px;
	font-size: 125px;
	color: rgba(173,253,255,0.9);
	/* color: red; */
	text-shadow: 4px 16px 12px rgba(0,0,0,0.2),
		0px -10px 70px rgba(255,255,255,0.3);
}


.blog_title {
	color: rgba(173,253,255,0.9);
	text-shadow: 4px 16px 12px rgba(0,0,0,0.2),
		0px -10px 70px rgba(255,255,255,0.3);
}

.blog_title:hover {
	color: rgba(240,255,255,1);;
	transition: 2s;
	text-shadow: 4px 16px 12px rgba(0,0,0,0.2),
		0px -10px 70px rgba(255,255,255,0.3);
}


.blog_post {
	padding-top: 10px;
	-moz-box-shadow: inset 0 0 10px #000;
	-webkit-box-shadow: inset 0 0 10px #000;
	box-shadow: inset 0 0 10px #000;
	font-size: 24px;
	height: 150px;
	overflow: scroll;
	color: rgba(168,178,178,1);
}


.post {
  font-size: 18px; 
  font-weight: bold; 
  font-family: 'Courier'; 
  color: #ccab8a; 
  display: inline-block; 
  padding-bottom: 10px;
  text-indent: 50px;
}
