

/*
.vim_description {
	font-size: 18px;
	font-weight: bold;
	font-family: "Courier";
	color: #adfdff;
	display: inline-block;
	padding-bottom: 10px;
}
*/


.vim_cards {
	width: 50%; // vw = view width
}


.vim_command_title {
	width: 100%;
	font-size: 24px;
	font-family: "Courier New";
	font-weight: bold;
	color: #ffd6ad;
}


.vim_command_post {
	a {
		color: #ffd6ad;
	}
	a:hover {
		color: orange;
	}
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	-moz-box-shadow: inset 0 0 10px #000;
	-webkit-box-shadow: inset 0 0 10px #000;
	box-shadow: inset 0 0 10px #000;
	font-size: 14px;
	height: 175px;
	overflow: scroll;
}


